@page "/"
<!--this page "/" will make the page the default one -->
@page "/HomeUI"

<div class="first-parent-container">
   
    <div class="left-container">
        <div class="buttons-card-container">
            <div class="buttons">
            <HomeComponent.Shared.HomePage.ButtonsLayout />
            </div>
            <div class="card">
            @CardDynamic
            </div>
        </div>
        <div class="scrolling-container">
            @Vignettes
        </div>
        <div class="scrolling-container-2">
        @Controls
        </div>
        <div class="second-parent-container">
         <div class="favoris1">
        @FavListRf
        </div>
        <div class="favoris2">
        @FavEtatRf 
  </div>
</div>
    </div>

     <div class="right-card-component">
        <HomeComponent.Shared.HomePage.APICardLayout />
    </div>
</div>

