<div class="ApiCard">
<TelerikTileLayout Columns="1"
                    Class="apicard-style"
                   RowHeight="600px"
                   ColumnWidth="20rem"
                   Resizable="true"
                   Reorderable="true">
    <TileLayoutItems>
        <TileLayoutItem>
            <HeaderTemplate>

            </HeaderTemplate>
            <Content></Content>
        </TileLayoutItem>
     
    </TileLayoutItems>
</TelerikTileLayout>
</div>
<style>
   /* .apicard-style .k-card-header {
    }*/
</style>