<div class="buttons"> 
 <div class="labels">
<h1 style="font-size : medium ; ">
    Emprunts
</h1>
<h1 style="font-size : medium ; ">
    Couvertures
</h1>
</div>

<TelerikTileLayout Columns="2"
                    
                   RowHeight="1fr"
                 Class="test"
                   Resizable="false"
                   Reorderable="true">
 <TileLayoutItems>
 
        <TileLayoutItem>
            <Content><a href="#" class="custom-button">Button1</a></Content>
        </TileLayoutItem>
        <TileLayoutItem >
            <Content><a href="#" class="custom-button">Button2</a></Content>
        </TileLayoutItem>
        <TileLayoutItem >
            <Content><a href="#" class="custom-button">Button3</a></Content>
        </TileLayoutItem>
         <TileLayoutItem >
            <Content><a href="#" class="custom-button">Button4</a></Content>
        </TileLayoutItem>


    </TileLayoutItems>
  
</TelerikTileLayout>
</div>
<style>
 
    
    .test {
        background-color: transparent !important; 
    }
    .content {
            border: 2px solid green;

    }
    .custom-button {
    display: inline-block;
    padding: 10px 20px;
    background: transparent;
   /* border-radius: 50px;*/
   /* clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);*/
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: green;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
  }

  .custom-button:hover {
    background: green;
    color: white;
  }
  .labels {
      display : flex ; 
      flex-direction : row ; 
      justify-content : space-between ; 
      padding-top: 10px;
       padding-inline: 20px;
  }
</style>
@code { 
   
}