
<div  class="Card">
    <h1 style="font-size : medium ; padding-top: 10px; padding-left: 1rem ;">
        Historique
    </h1>
<TelerikTileLayout Columns="2"
                   RowHeight="1fr"
                   ColumnWidth="2fr"
                   Resizable="true"
                   Reorderable="true">
    <TileLayoutItems>
  <TileLayoutItem class="RemoveSpace" ColSpan="2" RowSpan="2">
            <Content>
                @* Split the items in the GridLayout in three columns and two rows. *@

<TelerikGridLayout>
    <GridLayoutColumns>
        <GridLayoutColumn Width="1.3fr"></GridLayoutColumn>
        <GridLayoutColumn Width="1.3fr"></GridLayoutColumn>
        <GridLayoutColumn Width="1.3fr"></GridLayoutColumn>
    </GridLayoutColumns>
    <GridLayoutRows>
        <GridLayoutRow Height="1fr"></GridLayoutRow>
    </GridLayoutRows>
    <GridLayoutItems>
        <GridLayoutItem>
            <div style="border: 1px gray solid;">
               Date
            </div>
        </GridLayoutItem>
        <GridLayoutItem>
            <div style="border: 1px gray solid;">
              Type
            </div>
        </GridLayoutItem>
        <GridLayoutItem>
            <div style="border: 1px gray solid;">
             Num fiche
            </div>
        </GridLayoutItem>
        
      
    </GridLayoutItems>
</TelerikGridLayout>
  
</Content>
        </TileLayoutItem>
     
    </TileLayoutItems>
</TelerikTileLayout>
</div>

@code {
    private List<int> GridData { get; set; }
    [Parameter]
    public string Title { get; set; }
}