
<div> 
        <h1 style="font-size: medium;
                           /*margin-bottom: 20px;*/
                            margin-left: 1rem;
                            margin-top: 15px;">
       @Title
         </h1>
         <div class="FavorisHorizon">
        <TelerikTileLayout Columns="4" RowHeight="1fr" ColumnWidth="2fr" Resizable="true" Reorderable="true">
            <TileLayoutItems>
                @foreach (var item in Etats)
                {
                    <TileLayoutItem HeaderText="">
                        <Content>@item</Content>
                    </TileLayoutItem>
                }
            </TileLayoutItems>
        </TelerikTileLayout>
        </div>
</div>




